body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
}

.parent {
    position: relative;
}
.child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}