.table td,.table th {
  text-align: center;
  vertical-align: middle;
}

.ansetzung {
  position: relative;
  z-index: 1;
  height: 40px;
  max-width: 17em;
}

.ansetzung:before {
  z-index: -1;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-repeat: no-repeat;
  background-size: 40px;
  background-position: 0px, 50%;
  width: 50%;
  opacity: 0.5;
  margin-left: 1px
}

.ansetzung:after {
  z-index: -100;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  right: 0;
  z-index: 1;
  background-repeat: no-repeat;
  background-size: 40px;
  background-position: 100%, 50%;
  width: 50%;
  opacity: 0.5;
}

.ansetzung-text {
  position: relative;
  z-index: 2;
  padding-left: 42px;
  padding-right: 42px;
}

.table .anstoss {
  max-width: 5em;
}

.selector {
  margin-top: 15px;
}

.table .summary {
  text-align: end;
}

input.tippfeld {
  min-width: 45px;
}

